{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href = "{% static 'css/timetable.css' %}"/>
<link rel="stylesheet" href = "{% static 'css/timetablecarousel.css' %}">


<script type="text/javascript" src="{% static 'library/jcarousel/vendor/jquery/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'library/jcarousel/dist/jquery.jcarousel.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/timetablecarousel.js' %}"></script>


<table class="speicialist-timetable-row">
  <tr>
    <td>
      <button id="next-day" class="btn btn-primary round jcarousel-control-prev" type="button" ><span class="glyphicon glyphicon-chevron-left"></span></button>
    </td>

      <td style="overflow: hidden">
        <div class="jcarousel">
        <ul>
          {% for date in dates %}
          <li>
            {% include 'timetable/specialist_day_column.html' with date=date.date times=date.times %}
          </li>
          {% endfor %}
         </ul>
          </div>
      </td>
    <td>
      <button id="previous-day" class="btn btn-primary round jcarousel-control-next" type="button"><span class="glyphicon glyphicon-chevron-right"></span></button>
    </td>
  </tr>
</table>

{% endblock %}




