{% csrf_token %}
{% load l10n %}
{% load crispy_forms_tags %}
{% for field in form.visible_fields %}
    <div class="form__unit">
        <span>
            {{ field | as_crispy_field}}
        </span>
        {% if field.errors %}
            <script>
                $(document).ready(function(){
                    $("input[name^='{{ field.name }}']").addClass(".has-error");
                });
            </script>

        {% endif %}
    </div>
{% endfor %}
{% if form.non_field_errors %}
    <div class="form__unit">
        <div class="form__unit-item">
            <div class="form__unit-item-info">
                <div class="alert alert-danger form__unit-item-info-error">
                    {{ form.non_field_errors.as_text|safe}}
                </div>
            </div>
        </div>
    </div>
{% endif %}
