{% if is_paginated %}
{% load filters %}

<nav class="paginator row">
  {% if page_obj.has_previous %}
    <a class="previous col-sm-2" href="?{{ query_dict }}&page={{ page_obj.previous_page_number }}">
      <span class="prev">Назад</span>
    </a>
    {% endif %}
    <ul class="pagination col-sm-8">
      {% for item in page_obj.paginator.num_pages|get_range:page_obj.number %}
          {% if item.points %}
              <span class="points">...</span>
          {% else %}
              <li class="{% if page_obj.number == item.page %} active{% endif %}">
                <a href="?{{ query_dict }}&page={{ item.page }}">
                  <span>{{ item.page }}</span>
                </a>
              </li>
          {% endif %}
      {% endfor %}
    </ul>
    {% if page_obj.has_next %}
      <a class="next col-sm-2" href="?{{ query_dict }}&page={{ page_obj.next_page_number }}">
        <span class="next">Вперед</span>
      </a>
    {% endif %}
</nav>
{% endif %}
