
html, body{
  height: 100%;
  min-height: 600px;
}

p{
  text-indent: 20px; /* Отступ первой строки в пикселах */
  font-family: "Verdana";
}

li{
  text-indent: 10px; /* Отступ первой строки в пикселах */
  font-family: "Verdana";
}

label{
  color: #145d43;
}

#body {
  padding-bottom: 125px;
  overflow: auto;
}

#main-container {
   min-height: 100%;
   position: relative;
   padding-bottom: 20px;
}

#footer {
  background-color: #555;
  position:absolute;
  bottom:0;
  width: 100%;
  max-height: 115px;
  color: white;
  padding: 15px;
  font-size: 9pt;
}

.has-frame{
  border-style: double;
  border-color: #2d7b6b;
  padding-bottom: 15px;
}

.has-border{
  border: 1px solid #2d7b6b;
  padding: 5px 5px 15px;
}

.has-bottom-border{
  border-bottom: 1px solid #2d7b6b;
}
.form-btn{
  position: absolute;
  bottom: -37px;
}

.asteriskField{
  color: #d9534f;
  font-size: large;
}

.form-value{
  text-align: left;
  font-weight: bold;
}

.zero-side-padding{
  padding-left: 0;
  padding-right: 0;
}

.question-mark{
  font-size: 25px;
  font-weight: bold;
  padding: 2px;
  line-height: 1;
  width: 30px;
  height: 30px;
  border-radius: 50%;
   position: relative;
  top: -31px;
  right: -35px;
  float: right;
  outline:0 !important;
}

.round{
  border-radius: 100%;
}

.question-mark:hover{
  border-color: #d9534f;
}

.inactive{
  background-color: rgba(87, 174, 135, 0.41);
}
.loader {
    border: 10px solid #f3f3f3;
    border-top: 10px solid #2d7b6b;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

.text-center{
  text-align: center;
}

.margin-auto{
  margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

table th{
  background-color: #e2e6e9;
  text-align: center;
  border-bottom: 3px solid black !important;
  font-weight: bold;
}
table td{
  text-align: center;
}

table tr.table-separator>td{
  background-color: #145d43;
  padding: 1px;
}

.controls .selectdatewidget{
  display: inline;
}

#id_birth_date_day{
  width: 24%;
}

#id_birth_date_month{
  width: 39%;
}
#id_birth_date_year{
  width: 35%;
  float: right;
}

.phone-input-part {
  display: inline;
}

#id_phone_0{
  width: 20%;
  max-width: 4em;
}

#id_phone_1{
  width: 20%;
  max-width: 4em;
}
#id_phone_2{
  width: 15%;
  max-width: 3em;
}
#id_phone_3{
  width: 15%;
  max-width: 3em;
}

.department-select-button{
  display: block;
  margin: auto;
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

