
html, body{
  height: 100%;
  min-height: 600px;
}

p {
  text-indent: 20px; /* Отступ первой строки в пикселах */
  font-family: "Palatino Linotype";
}

#body {
  padding-bottom: 125px;
  overflow: auto;
}

#main-container {
   min-height: 100%;
   position: relative;
   padding-bottom: 20px;
}

#footer {
  background-color: #555;
  position:absolute;
  bottom:0;
  width: 100%;
  max-height: 115px;
  color: white;
  padding: 15px;
  font-size: 9pt;
}

.has-frame{
  border-style: double;
  border-color: #2d7b6b;
  padding-bottom: 15px;
}

.form-btn{
  position: absolute;
  bottom: -37px;
}

.asteriskField{
  color: red;
  font-size: large;
}


