
html, body{
  height: 100%;
  min-height: 600px;
}

#body {
  padding-bottom: 125px;
  overflow: auto;
}

#main-container {
   min-height: 100%;
   position: relative;
}

#footer {
  background-color: #555;
  position:absolute;
  bottom:0;
  width: 100%;
  max-height: 115px;
  color: white;
  padding: 15px;
  font-size: 9pt;
}

