
/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
    width: 400px;
}

.jcarousel ul {
    width: 200000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    width: 80px !important;
    float: left;
    border: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.jcarousel .int {
    display: block;
    max-width: 100%;
    height: auto !important;
}


/** Carousel Controls **/

