{% extends 'patient_writer/base.html' %}
{% block content %}
<div class="container-fluid has-frame">
  <form>
    <div>
      <h2>{{patient.last_name | upper}} {{patient.middle_name | upper}} ЭТО ВЫ?</h2>
      <p> Нажимая "Да. ..." Вы автоматически принимаете <a href="{% url 'patient_writer:agreement' %}">правила обработки даных</a> ФГБУ ФСНКЦ ФМБА России</p>
    </div>
    <div class="col-md-10 col-md-offset-1">
      <div class="hidden-xs col-xs-6">
        <button type="submit" formmethod="get" formaction="{% url 'patient_writer:input_second_step' %}" class="btn btn-primary btn-lg col-xs-12">Да. Продолжить запись</button>
      </div>
      <div class="hidden-xs col-xs-6">
        <button type="submit" formethod="post" formaction="{% url 'patient_writer:account_logout' %}" class="btn btn-primary btn-lg col-xs-12">Нет. Ввести заново</button>
      </div>
      <div class="visible-xs col-xs-6">
        <button type="submit" formmethod="get" formaction="{% url 'patient_writer:input_second_step' %}" class="btn btn-primary btn-lg col-xs-12">Да</button>
      </div>
      <div class="visible-xs col-xs-6">
        <button type="submit" formethod="post" formaction="{% url 'patient_writer:account_logout' %}" class="btn btn-primary btn-lg col-xs-12">Нет</button>
      </div>
    </div>
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  </form>
</div>
{% endblock content%}
