{% extends 'patient_writer/base.html' %}

{% load flatblocks %}
{% load static %}

{% block content %}
<div class="container-fluid has-frame">
  <div class="col-xs-10 col-xs-offset-1">
    <h3>ВЫБЕРИТЕ ДАТУ И ВРЕМЯ</h3>
    <form id="input_form_2" method="POST" action="{% url 'patient_writer:input_second_step' %}">
      <div id="department-form" class="form-group">
        <label for="id_department" class="control-label requiredField">
          Подразделение <span class="asteriskField">*</span>
        </label>
        <div>
          <select class="select form-control" id="id_department" name="department" required>
            <option disabled selected value=-1> -- Выберете подразделение -- </option>
            {% for department in departments %}
              <option value="{{department.id}}">{{department.name}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div id="speciality-form" class="form-group" style="display: none">
        <label for="speciality" class="control-label requiredField">
          Специальность <span class="asteriskField">*</span>
        </label>
        <select id="id_speciality" type="text" class="form-control" name="speciality" required>
          <option disabled selected value=-1> -- Выберете специальность -- </option>
        </select>
        <button id="speciality_question" class="btn btn-primary question-mark" type="button" data-toggle="modal" data-target="#speciality_help_modal">?</button>
        <div id="speciality_help_modal" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
             <div class="modal-body">
                {% flatblock "speciality_help" %}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="error-message" class="alert alert-danger" style="display:none;">
      </div>
      <div>
     </div>
     </form>
     <div class="row col-xs-12 col-sm-6 col-sm-offset-3 form-btn">
      <a class="btn btn-primary btn-lg btn-block" href="{% url 'patient_writer:input_first_step' %}"><span class="glyphicon glyphicon-chevron-left"></span> Назад</a>
     </div>
    </div>
  </div>
{% endblock content %}

{% block javascript %}
{{ block.super}}
    <script src="{% static '/js/input_second_form_control.js' %}"></script>
{% endblock javascript%}
