{% load staticfiles i18n %}<!DOCTYPE html>
{% load flatblocks %}
{% load compress %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Запись на прием{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="{% static 'library/html5shiv/dist/html5shiv.min.js' %}"></script>
    <![endif]-->


    {% block css %}
      <link rel="stylesheet" href="{% static 'library/bootstrap/dist/css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'library/keyboard/dist/css/keyboard.min.css' %}">
      {% compress css %}
      <!--
      <link rel="stylesheet" href="{% static 'css/bootstrapstyle.css' %}">
      //comment-->
      <link rel="stylesheet" href="{% static 'css/main.css' %}">
      <link rel="stylesheet" href="{% static 'css/keyboard.css' %}">
      <link rel="stylesheet" href="{% static 'css/infomat.css' %}">
      {% endcompress %}
    {% endblock %}

  </head>

  <body>
    <div id="main-container">
      <div id="body">
        {% block navigation-panel %}
        {% endblock navigation-panel %}


          <div class="col-sm-12">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
                {% endfor %}
            {% endif %}

            {% block content %}

            {% endblock content %}
          </div>


        {% block javascript %}
          <script src="{% static 'library/jquery/dist/jquery.min.js' %}"> </script>
          <script src="{% static 'library/bootstrap/dist/js/bootstrap.min.js' %}"></script>
          <script src="{% static 'library/jquery.maskedinput/dist/jquery.maskedinput.min.js' %}"></script>
          <script src="{% static 'library/jquery-nice-select/js/jquery.nice-select.min.js' %}"></script>
          <script src="{% static 'library/keyboard/docs/js/jquery-ui.min.js' %}"></script>
          <script src="{% static 'library/keyboard/dist/js/jquery.keyboard.min.js' %}"></script>
          <script src="{% static 'js/infomat.js' %}"></script>
          {% compress js %}

          {% endcompress %}
        {% endblock javascript %}

        {% block modal %}{% endblock modal %}
      </div> <!-- id=body-->

    </div> <!-- /main-container -->
  </body>
</html>

