.has-frame{
  border: none;
}

h3 {
  font-size: 32px;
}

*{
  font-size: 24px;
  line-height: 24px;
}

input{
  font-size: 24px !important;
  line-height: 24px !important;
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.form__unit{
  margin-top: 60px !important;
}

select{
  font-size: 19px !important;
}
option{
  line-height: 29px !important;
  font-size: 25px !important;
}

#body{
  padding-bottom: 60px;
  overflow: hidden;
}

.phone-input-part{
  text-align: center;
}

#id_phone_0_keyboard, #id_phone_1_keyboard, #id_phone_2_keyboard, #id_phone_3_keyboard{

}

.btn-primary{
  font-size: 30px;
  border-radius: 10px;
  color: #00aaa5;
  border-width: 0px;
  padding: 15px;
  background-color: #F0F0F0;
}

.btn-primary:hover{
  background-color: #e0e0e0;
  color: #00aaa5;
}

.btn-primary:active{
  background-color: #F0F0F0 !important;
}

.btn-primary:focus{
  background-color: #F0F0F0;
  color: #00aaa5;
}

.question-mark{
  border-radius: 50% !important;
  text-align: center !important;
  padding: 0px !important;
  font-size: 34px;
  font-weight: bold;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  top: -40px;
  right: -68px;
  float: right;
  outline: 0 !important;
}


.form-btn{
  position: absolute;
  bottom: -60px;
}
