{% extends "patient_writer/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}Выход{% endblock %}

{% block content %}


<div class="container-fluid has-frame">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <h3>ВЫХОД</h3>
        <p>Вы действительно хтите выйти?</p>
        <form method="post" action="{% url 'patient_writer:account_logout' %}">
          {% csrf_token %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
          {% endif %}
          <button class="btn btn-danger" type="submit">Выйти</button>
        </form>
    </div>
  </div>

</div>
{% endblock content %}




