{% extends "patient_writer/base.html" %}
{% load static %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'registration/css/registration.css' %}"/>
{% endblock %}

{% block content %}

<div class="container-fluid has-frame">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <h3>Сброс пароля</h3>
      <form method="POST">
        {% include 'form_field_generic.html' %}
        <div class="col-xs-12  col-sm-6 col-sm-offset-3 form-btn">
          <button class="row btn btn-primary btn-lg btn-block" type="submit"> Подтвердить адрес </button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
