{% extends "patient_writer/base.html" %}

{% block title %}
    Восстановление пароля
{% endblock %}


{% block content %}
<div class="container-fluid has-frame">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      {% if validlink %}
      <h3>Введите новый пароль</h3>
      <form method="POST">
        {% include 'form_field_generic.html' %}
        <div class="col-xs-12  col-sm-6 col-sm-offset-3 form-btn">
          <button class="row btn btn-primary btn-lg btn-block" type="submit"> Сменить пароль </button>
        </div>
      </form>
      {% else %}
        <h1>Смена пароля невозможна!</h1>
        <p>Ссылка на смену пароля недействительна... Пожалуйста попробуйте осуществить операцию заново.</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
